<h3 class="h4">Filter</h3>
<ul class="filter-r-tags">
	<li>Safety Index above 7.5</li>
	<li>Ethereum</li>
</ul>
<button class="filter-r-clear">Clear Filter</button>
<h3 class="h6-700">Rating</h3>
<div class="filter-r-stars-w">
	<label><input type="radio" name="filter-stars" checked>Any</label>
	<label><input type="radio" name="filter-stars"><i class="i-sico59"></i>3.0+</label>
	<label><input type="radio" name="filter-stars"><i class="i-sico59"></i>4.0+</label>
	<label><input type="radio" name="filter-stars"><i class="i-sico59"></i>4.5+</label>
</div>
<div class="filter-r-sort">
	<div class="h6-700">Sort by</div>
	<div class="filter-r-sort-sel select-v2">
		<select>
			<option>Newest</option>
			<option>Newest2</option>
			<option>Newest3</option>
		</select>
	</div>
</div>
<div class="filter-r-f-list">
	<div class="filter-r-f-i">
		<div class="filter-r-f-opener">
			<div class="filter-r-f-opener-ico">
				<img src="img/sico20.svg" alt="">
			</div>
			Bonus Type
		</div>
		<div class="filter-r-f-hidden">
			<div class="filter-r-f-checks">
				<label class="filter-r-f-check">
					Some filter
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Other filter
					<input type="checkbox">
				</label>
			</div>
		</div>
	</div>
	<div class="filter-r-f-i">
		<div class="filter-r-f-opener">
			<div class="filter-r-f-opener-ico">
				<img src="img/sico53.svg" alt="">
			</div>
			Popular Filter
		</div>
		<div class="filter-r-f-hidden">
			<div class="filter-r-f-checks">
				<label class="filter-r-f-check">
					Mobile-friendly casinos
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Crypto casinos Live
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Roulette casinos
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					High roller casinos
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Anonymous casinos
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Live dealer casinos
					<input type="checkbox">
				</label>
			</div>
		</div>
	</div>
	<div class="filter-r-f-i">
		<div class="filter-r-f-opener">
			<div class="filter-r-f-opener-ico">
				<img src="img/sico53.svg" alt="">
			</div>
			Casinos for Players from
		</div>
		<div class="filter-r-f-hidden">
			<div class="filter-r-f-checks">
				<label class="filter-r-f-check">
					Some filter
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Other filter
					<input type="checkbox">
				</label>
			</div>
		</div>
	</div>
	<div class="filter-r-f-i">
		<div class="filter-r-f-opener">
			<div class="filter-r-f-opener-ico">
				<img src="img/sico47.svg" alt="">
			</div>
			Casino Games
		</div>
		<div class="filter-r-f-hidden">
			<div class="filter-r-f-checks">
				<label class="filter-r-f-check">
					Some filter
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Other filter
					<input type="checkbox">
				</label>
			</div>
		</div>
	</div>
	<div class="filter-r-f-i">
		<div class="filter-r-f-opener">
			<div class="filter-r-f-opener-ico">
				<img src="img/sico48.svg" alt="">
			</div>
			User Feedback
		</div>
		<div class="filter-r-f-hidden">
			<div class="filter-r-f-checks">
				<label class="filter-r-f-check">
					Some filter
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Other filter
					<input type="checkbox">
				</label>
			</div>
		</div>
	</div>
	<div class="filter-r-f-i">
		<div class="filter-r-f-opener">
			<div class="filter-r-f-opener-ico">
				<img src="img/sico49.svg" alt="">
			</div>
			Crypto Currency
		</div>
		<div class="filter-r-f-hidden">
			<div class="filter-r-f-checks">
				<label class="filter-r-f-check">
					Some filter
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Other filter
					<input type="checkbox">
				</label>
			</div>
		</div>
	</div>
	<div class="filter-r-f-i">
		<div class="filter-r-f-opener">
			<div class="filter-r-f-opener-ico">
				<img src="img/sico50.svg" alt="">
			</div>
			Game Provider
		</div>
		<div class="filter-r-f-hidden">
			<div class="filter-r-f-checks">
				<label class="filter-r-f-check">
					Some filter
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Other filter
					<input type="checkbox">
				</label>
			</div>
		</div>
	</div>
	<div class="filter-r-f-i">
		<div class="filter-r-f-opener">
			<div class="filter-r-f-opener-ico">
				<img src="img/sico51.svg" alt="">
			</div>
			Licensing Authority
		</div>
		<div class="filter-r-f-hidden">
			<div class="filter-r-f-checks">
				<label class="filter-r-f-check">
					Some filter
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Other filter
					<input type="checkbox">
				</label>
			</div>
		</div>
	</div>
	<div class="filter-r-f-i">
		<div class="filter-r-f-opener">
			<div class="filter-r-f-opener-ico">
				<img src="img/sico52.svg" alt="">
			</div>
			Website Language
		</div>
		<div class="filter-r-f-hidden">
			<div class="filter-r-f-checks">
				<label class="filter-r-f-check">
					Some filter
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Other filter
					<input type="checkbox">
				</label>
			</div>
		</div>
	</div>
	<div class="filter-r-f-i">
		<div class="filter-r-f-opener">
			<div class="filter-r-f-opener-ico">
				<img src="img/sico52.svg" alt="">
			</div>
			Customer Support Laguage
		</div>
		<div class="filter-r-f-hidden">
			<div class="filter-r-f-checks">
				<label class="filter-r-f-check">
					Some filter
					<input type="checkbox">
				</label>
				<label class="filter-r-f-check">
					Other filter
					<input type="checkbox">
				</label>
			</div>
		</div>
	</div>
</div>
