<div class="f-w2">
	<div class="hero-search _v2">
		<form>
			<div class="hero-search-row">
				<input type="text" placeholder="Search Crypto Casinos Now">
				<input type="submit" value="">
			</div>
		</form>
	</div>
</div>
<div class="f-w2">
	<div class="f-w-t">
		<h3>Forum Categories</h3>
		<a href="#write-discussion" class="button popup-show">Start Discussion<i class="i-x"></i></a>
	</div>
</div>
{{ global.topicItem([
	"img/sico1.svg",
	"img/sico2.svg",
	"img/sico3.svg",
	"img/sico4.svg",
	"img/sico5.svg"
])}}
<div class="f-w2">
	<h3>Online Casino</h3>
</div>
{{ global.topicItem([
	"img/sico1.svg",
	"img/sico2.svg"
])}}
<div class="f-w2">
	<hr>
	<h3>Winning screenshots</h3>
	<div class="swiper screen-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="screen-slider-img">
					<img src="img/img1.jpg" alt="img">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="screen-slider-img">
					<img src="img/img1.jpg" alt="img">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="screen-slider-img">
					<img src="img/img1.jpg" alt="img">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="screen-slider-img">
					<img src="img/img1.jpg" alt="img">
				</div>
			</div>
			<div class="swiper-slide">
				<div class="screen-slider-img">
					<img src="img/img1.jpg" alt="img">
				</div>
			</div>
		</div>
	</div>
	<h4 class="h6">Casinos always win!</h4>
	<hr>
</div>
{{ global.topicItem([
	"img/sico1.svg"
])}}
