<h3 class="h6">FAQ</h3>
<h2>Frequently asked questions</h2>
<ul class="accordion">
	<li>
		<a href="#" class="opener">What are the best online casinos?</a>
		<div class="slide">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta error debitis aut, maiores placeat eos! Recusandae incidunt adipisci, commodi necessitatibus quibusdam possimus blanditiis fugit aut corrupti eius praesentium, est dolore?</p>
		</div>
	</li>
	<li>
		<a href="#" class="opener">Can I win real money in an online casino?</a>
		<div class="slide">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta error debitis aut, maiores placeat eos! Recusandae incidunt adipisci, commodi necessitatibus quibusdam possimus blanditiis fugit aut corrupti eius praesentium, est dolore?</p>
		</div>
	</li>
	<li>
		<a href="#" class="opener">Are top online casinos safe?</a>
		<div class="slide">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta error debitis aut, maiores placeat eos! Recusandae incidunt adipisci, commodi necessitatibus quibusdam possimus blanditiis fugit aut corrupti eius praesentium, est dolore?</p>
		</div>
	</li>
	<li>
		<a href="#" class="opener">Are real money online casino games fair?</a>
		<div class="slide">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta error debitis aut, maiores placeat eos! Recusandae incidunt adipisci, commodi necessitatibus quibusdam possimus blanditiis fugit aut corrupti eius praesentium, est dolore?</p>
		</div>
	</li>
	<li>
		<a href="#" class="opener">Can I trust an online casino? </a>
		<div class="slide">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta error debitis aut, maiores placeat eos! Recusandae incidunt adipisci, commodi necessitatibus quibusdam possimus blanditiis fugit aut corrupti eius praesentium, est dolore?</p>
		</div>
	</li>
	<li>
		<a href="#" class="opener">Can I play online casino games on mobile devices?</a>
		<div class="slide">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta error debitis aut, maiores placeat eos! Recusandae incidunt adipisci, commodi necessitatibus quibusdam possimus blanditiis fugit aut corrupti eius praesentium, est dolore?</p>
		</div>
	</li>
</ul>
