<button class="button _btn-gray filter-r-availible-btn">See More</button>
<div class="filter-r-availible-more-h">
	<h6 class="h6">Games</h6>
	<div class="filter-r-availible-more-list">
		<div class="filter-r-availible-i">
			<i class="i-sico60"></i>
			Slots
		</div>
		<div class="filter-r-availible-i">
			<i class="i-sico61"></i>
			Roulette
		</div>
		<div class="filter-r-availible-i">
			<i class="i-sico62"></i>
			BlackJack
		</div>
		<div class="filter-r-availible-i">
			<i class="i-sico63"></i>
			Video Poker
		</div>
		<div class="filter-r-availible-i">
			<i class="i-sico64"></i>
			Bingo
		</div>
		<div class="filter-r-availible-i _gray">
			<i class="i-sico65"></i>
			Jackpot games
		</div>
		<div class="filter-r-availible-i _black">
			<i class="i-sico63"></i>
			Baccarat
		</div>
		<div class="filter-r-availible-i _black">
			<i class="i-sico67"></i>
			Live Games
		</div>
	</div>
</div>
