<button class="filter-r-bottom-more-btn">Show more</button>
<div class="filter-r-bottom-more-h">
	<h6 class="h6">Crypto Accepted</h6>
	<div class="filter-r-bottom-more-list">
		<div class="filter-r-bottom-more-i">
			<img src="img/ico1.png" alt>
			Bitcoin
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico4.png" alt>
			Ethereum
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico6.png" alt>
			Binance Coin
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico9.png" alt>
			Solana
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico2.png" alt>
			USDT
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico10.png" alt>
			USDC
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico11.png" alt>
			Monero
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico12.png" alt>
			XRP
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico13.png" alt>
			DOGE
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico14.png" alt>
			TRX
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico15.png" alt>
			TON
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico16.png" alt>
			AVAX
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico17.png" alt>
			ADA
		</div>
		<div class="filter-r-bottom-more-i">
			<img src="img/ico18.png" alt>
			SHIB
		</div>
	</div>
</div>
