<header class="header header-dark">
	<div class="container">
		<div class="header-holder">
			<button class="menu-opener"><span></span></button>
			<a href="#" class="logo _mob">
				<img src="img/logo-white.svg" alt="logo">
			</a>
			<div class="menu-drop">
				<nav class="menu-drop__wrap">
					<ul class="menu">
						<li class="has-mega-menu current-menu-item _i-p1">
							<a href="#">Crypto Casinos</a>
							<ul class="mega-menu">
								<li>
									<div class="col">
										<div class="h6">Company</div>
										<ul>
											<li><a href="#">Top Online Casinos</a></li>
											<li><a href="#">Newly Opened Casinos</a></li>
											<li><a href="#">Big Brands</a></li>
											<li><a href="#">All Casinos</a></li>
										</ul>
									</div>
									<div class="col">
										<div class="h6">Popular filters</div>
										<ul>
											<li><a href="#">Crypto casinos </a></li>
											<li><a href="#">Mobile-friendly casinos </a></li>
											<li><a href="#">Best Crypto Slots </a></li>
											<li><a href="#">No KYC Casinos</a></li>
											<li><a href="#">Casino reviews </a></li>
											<li><a href="#">Live dealer casinos</a></li>
										</ul>
									</div>
									<div class="col">
										<div class="h6">payment method</div>
										<ul>
											<li><a href="#">Bitcoin casinos </a></li>
											<li><a href="#">Ethereum casinos </a></li>
											<li><a href="#">USDT casinos </a></li>
											<li><a href="#">Solana casinos </a></li>
											<li><a href="#">Polygon casinos </a></li>
											<li><a href="#">All payment methods</a></li>
										</ul>
									</div>
								</li>
							</ul>
						</li>
						<li class="_i-p2">
							<a href="#">Sports Betting</a>
						</li>
						<li class="_i-p3">
							<a href="#">User Reviews</a>
						</li>
						<li class="_i-p4">
							<a href="#">Bonuses</a>
						</li>
					</ul>
					<a href="#" class="logo">
						<img src="img/logo-white.svg" alt="logo">
					</a>
					<ul class="menu">
						<li>
							<a href="#">Expert Reviews</a>
						</li>
						<li>
							<a href="#">Forum</a>
						</li>
						<li>
							<a href="#">Guides</a>
						</li>
						<li>
							<a href="#">About</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header-btns">
				<div class="header-search-w">
					<button class="header-search-btn">Search</button>
					<div class="header-search">
						<div class="header-search-form">
						<form>
							<div class="header-search-row">
								<input type="text" placeholder="Search Crypto Casinos Now">
								<input type="submit" value="">
							</div>
						</form></div>
						<div class="header-search-txt">MOST SEARCHED CASINOS</div>
						<ul class="header-search-imgs">
							<li><a href="#"><img src="img/logo1.png" alt="logo"></a></li>
							<li><a href="#"><img src="img/logo2.png" alt="logo"></a></li>
							<li><a href="#"><img src="img/logo3.png" alt="logo"></a></li>
							<li><a href="#"><img src="img/logo5.png" alt="logo"></a></li>
							<li><a href="#"><img src="img/logo6.png" alt="logo"></a></li>
							<li><a href="#"><img src="img/logo1.png" alt="logo"></a></li>
						</ul>
					</div>
				</div>
				<div class="lang-w">
					{% include 'src/template/lang.html' %}
				</div>
				<div class="header-login-w p-sm">
					<button class="header-login-btn">Login</button>
					<div class="header-login">
						<div class="header-login-title">Login to Your Account</div>
						<a href="#" class="button _btn-black"><img src="img/sico24.svg" alt="">Continue with Apple</a>
						<a href="#" class="button _btn-gray"><img src="img/sico25.svg" alt="">Continue with Google</a>
						<p>or Continue with your email</p>
						<div class="login-form">
							<form>
								<input type="email" placeholder="E-mail address">
								<input type="password" placeholder="Password">
								<div class="login-form-check">
									<label>
										<input type="checkbox">
										Remember me
									</label>
									<a href="#">Forgot password</a>
								</div>
								<input type="submit" value="Log in">
							</form>
						</div>
						<p>Don't have an account? <a href="#">Sign Up.</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
