<button class="lang-btn"><img src="img/flag-uk.svg" alt="img"> English</button>
<div class="lang-block">
	<label for="choose-lang">website language</label>
	<select name="choose-lang">
		<option>English</option>
		<option>Spain</option>
		<option>Germany</option>
		<option>Russia</option>
	</select>
	<label for="choose-country">YOUR COUNTRY OF RESIDENCE</label>
	<select class="choose-country" name="choose-country">
		<option data-image="img/flag-uk.svg">United Kingdom</option>
		<option data-image="img/flag-spain.svg">Spain</option>
		<option data-image="img/flag-germany.svg">Germany</option>
		<option data-image="img/flag-rashka.svg">Russia</option>
	</select>
</div>
