<!-- popup write discussion start -->
<div id="write-discussion" class="modal mfp-hide write-review-m write-review-form">
	<button class="m-close">x</button>
	<h2 class="form-m-tittle">Create Your Discussion</h2>
	<form>
		<div class="form-m-a-w">
			<div class="form-m-a-top">
				<div class="h4">Select forum category</div>
			</div>
			<label>
				<select>
					<option>General Discussion</option>
					<option>General Discussion2</option>
					<option>General Discussion3</option>
				</select>
			</label>
			<div class="form-m-a-top">
				<div class="h4">Give your review a title*</div>
				<div class="p-sm">0/10 words minimum</div>
			</div>
			<div class="form-m-a-lists">
				<label><input type="text" placeholder="The gist of your experience"></label>
			</div>
			<div class="form-m-a-top">
				<div class="h4">Write your Thread*</div>
				<div class="p-sm">0/10 words minimum</div>
			</div>
			<!-- note for wp dev - this textarea just example - use wp editor -->
			<textarea placeholder="WYSIWG" style="max-height: 55rem;height: 55rem"></textarea>
			<!-- note for wp dev - this textarea just example - use wp editor -->
			<p class="p-sm">Don't use explicit language and don't post personal details.</p>
		</div>
		<div class="form-m-a-w">
			<div class="h4 _bg-img">Add a screenshot for cover</div>
			<p class="p-sm">CoinBets sees this.</p>
			<div class="h6-700">Attach photos or screenshot</div>
			<label>
				<input type="file">
			</label>
		</div>
		<input type="submit" value="Submit Discussion">
	</form>
</div>
<!-- popup write discussion end -->
