<!-- popup write-review content start -->
<div id="write-review" class="modal mfp-hide write-review-m write-review-form">
	<button class="m-close">x</button>
	<h2 class="form-m-tittle">Submit your review of Lucky Block</h2>
	<form>
		<div class="form-m-a-w">
		<div class="h4 txt-c">How was your experience</div>
		<div class="form-m-stars-w">
			<div class="rating-w">
			<div class="rating _1">
				<input type="radio" id="star5" name="rating" value="5" />
				<label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
				<input type="radio" id="star4" name="rating" value="4" />
				<label class="star" for="star4" title="Great" aria-hidden="true"></label>
				<input type="radio" id="star3" name="rating" value="3" />
				<label class="star" for="star3" title="Very good" aria-hidden="true"></label>
				<input type="radio" id="star2" name="rating" value="2" />
				<label class="star" for="star2" title="Good" aria-hidden="true"></label>
				<input type="radio" id="star1" name="rating" value="1" checked/>
				<label class="star" for="star1" title="Bad" aria-hidden="true"></label>
			</div>
			<div class="rating-num">1</div>
			</div>
		</div>
		<div class="form-m-a-about">
			<div class="form-m-a-about-txt">
				<div class="form-m-a-about-sub-t">Your feedback</div>
				<div class="form-m-a-about-t">Terrible</div>
			</div>
			<div class="form-m-a-about-lists">
				<div>
					<div class="form-m-a-about-num">1</div>
					<span>TERRIBLE</span>
				</div>
				<div>
					<div class="form-m-a-about-num">2</div>
					<span>BAD</span>
				</div>
				<div>
					<div class="form-m-a-about-num">3</div>
					<span>OK</span>
				</div>
				<div>
					<div class="form-m-a-about-num">4</div>
					<span>GOOD</span>
				</div>
				<div>
					<div class="form-m-a-about-num">5</div>
					<span>EXCELLENT</span>
				</div>
			</div>
		</div>

		</div>
		<div class="form-m-a-w _pos">
			<div class="form-m-a-top">
				<div class="h4">Add a Positive*</div>
				<div class="p-sm">0/10 words minimum</div>
			</div>
			<div class="form-m-a-lists">
				<label><input type="text" placeholder="Write"></label>
				<label><input type="text" placeholder="Write"></label>
			</div>
			<div class="form-m-a-more-btn-w"><a href="#!" class="form-m-a-more-btn">Add more</a></div>
		</div>
		<div class="form-m-a-w _neg">
			<div class="form-m-a-top">
				<div class="h4">Add a Negative*</div>
				<div class="p-sm">0/10 words minimum</div>
			</div>
			<div class="form-m-a-lists">
				<label><input type="text" placeholder="Write"></label>
			</div>
			<div class="form-m-a-more-btn-w"><a href="#!" class="form-m-a-more-btn">Add more</a></div>
		</div>
		<div class="form-m-a-w">
			<div class="form-m-a-top">
				<div class="h4">Write your review*</div>
				<div class="p-sm">0/10 words minimum</div>
			</div>
			<label>
				<textarea placeholder="State accurate facts and be objective"></textarea>
			</label>
			<div class="p-sm">Don't use explicit language and don't post personal details.</div>
		</div>
		<div class="form-m-a-w">
			<div class="form-m-a-top">
				<div class="h4">Give your review a title*</div>
				<div class="p-sm">0/10 words minimum</div>
			</div>
			<div class="form-m-a-lists">
				<label><input type="text" placeholder="The gist of your experience"></label>
			</div>
		</div>
		<div class="form-m-a-w">
			<div class="h4 _bg-img">Screenshots of any big wins you’ve had</div>
			<p class="p-sm">(This will show up as part of your review - Shared with public)</p>
			<div class="h6-700">Attach photos or screenshot</div>
			<label>
				<input type="file">
			</label>
		</div>
		<div class="form-m-a-w2">
			<div class="h4 txt-c">Private Information</div>
		</div>
		<div class="form-m-a-w">
			<div class="h4">Did you have any issues withdrawing funds?</div>
			<div class="form-m-a-radio">
				<label><input type="radio" name="issues" value="yes" checked>yes</label>
				<label><input type="radio" name="issues" value="no">no</label>
			</div>
		</div>
		<div class="form-m-a-w">
			<div class="h4">Has the casino promised you a reward for writing this review?</div>
			<div class="form-m-a-radio">
				<label><input type="radio" name="promised" value="yes1" checked>yes</label>
				<label><input type="radio" name="promised" value="no2">no</label>
			</div>
			<div class="p-sm">This includes a guaranteed gift, a future discount, or entry into a chance draw. Companies are allowed to do this as long as the reward is offered for both positive and negative reviews.</div>
		</div>
		<div class="form-m-a-w">
			<div class="h4 _bg-img">Screenshots of any big wins you’ve had</div>
			<p class="p-sm">(Private - only CoinBets sees this. This is to combat fake reviews and verify reviews are legitimate.)</p>
			<div class="h6-700">Attach photos or screenshot</div>
			<label>
				<input type="file">
			</label>
		</div>
		<input type="submit" value="Submit Review">
	</form>
</div>
<!-- popup write-review content end -->
