<h3 class="h6-500">See other recommendation</h3>
<div class="rec-list">
	<div class="rec-i">
		<div class="g-review-top">
			<div class="g-review-img">
				<img src="img/logo1.png" alt="logo">
			</div>
			<div class="g-review-info">
				<h3 class="h4"><a href="#">Lucky Block</a></h3>
				{{ global.starsMacro(4.5)}}
				<div class="g-review-index _bg-green">Safety Index: <span>High</span></div>
			</div>
		</div>
	</div>
	<div class="rec-i">
		<div class="g-review-top">
			<div class="g-review-img">
				<img src="img/logo2.png" alt="logo">
			</div>
			<div class="g-review-info">
				<h3 class="h4"><a href="#">BC Game</a></h3>
				{{ global.starsMacro(2.5)}}
				<div class="g-review-index _bg-yellow">Safety Index:
					<span>Normal</span></div>
			</div>
		</div>
	</div>
	<div class="rec-i">
		<div class="g-review-top">
			<div class="g-review-img">
				<img src="img/logo3.png" alt="logo">
			</div>
			<div class="g-review-info">
				<h3 class="h4"><a href="#">Cloudbet</a></h3>
				{{ global.starsMacro(0.5)}}
				<div class="g-review-index _bg-red">Safety Index: <span>Low</span></div>
			</div>
		</div>
	</div>
</div>
