<div class="review-t-r-top">
	<h3 class="h6-500">Casino Screenshot</h3>
	<div class="review-t-r-btns">
		<button class="r-swiper-button-prev"><i class="i-arrow-l"></i></button>
		<button class="r-swiper-button-next"><i class="i-arrow-r"></i></button>
	</div>
</div>
<div class="swiper r-slider">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="r-slider-img">
				<img src="img/img18.jpg" alt="img">
			</div>
		</div>
		<div class="swiper-slide">
			<div class="r-slider-img">
				<img src="img/img19.jpg" alt="img">
			</div>
		</div>
		<div class="swiper-slide">
			<div class="r-slider-img">
				<img src="img/img20.jpg" alt="img">
			</div>
		</div>
	</div>
</div>
