<div class="container _w590 p-sm">
	<h3 class="h6">Recent forums chats</h3>
	<h2>What's new in July 2024</h2>
	<p>We are constantly improving our casino database, so that we can help you choose reliable casino sites to play at. Here are some changes from the last 30 days.</p>
</div>
<div class="mt-4">
	<a href="#" class="button">Join Forum</a>
</div>
<div class="mt-5 d-icons-txt p-sm">
	<div>
		<div class="d-icons-txt-ico">
			<img src="img/sico54.svg" alt="icon">
		</div>
		<div class="d-icons-txt-num">114</div>
		<p>New casinos added to our database</p>
	</div>
	<div>
		<div class="d-icons-txt-ico">
			<img src="img/sico55.svg" alt="icon">
		</div>
		<div class="d-icons-txt-num">403</div>
		<p>Updated existing casino reviews</p>
	</div>
	<div>
		<div class="d-icons-txt-ico">
			<img src="img/sico56.svg" alt="icon">
		</div>
		<div class="d-icons-txt-num">783</div>
		<p>User reviews from community members</p>
	</div>
	<div>
		<div class="d-icons-txt-ico">
			<img src="img/sico57.svg" alt="icon">
		</div>
		<div class="d-icons-txt-num">1184</div>
		<p>Received complaints about online casinos</p>
	</div>
</div>
