---
title: Article page
---
{% import 'src/template/macrosAndVariable.html' as global %}
{% include 'src/template/head.html' %}

<body>
	<div class="wrapper offset-header">
		{% include 'src/template/header.html' %}

		<main class="main">
			<section class="pt-3 pb-5 py-md-6 bg-grad-blue text-white">
				<div class="container _w1170">
					<div class="breadcrumb mb-5 d-md-none">
						<div class="breadcrumb-trail"> <a href="https://basethemedevel.wpengine.com/" title="Base Theme" rel="home" class="trail-begin">Guide</a> <span class="sep">/</span> Games of chance</div>
					</div>
					<h1>Games of chance: Learn about payout ratio and variance</h1>
				</div>
			</section>
			<section class="my-10 my-md-3 section-entry">
				<div class="container">
					<div class="entry-grid" id="entry-grid">
						<div class="entry-grid__content list-nested">
							<div class="entry fix-table">
							{% include 'src/template/article-meta.html' %}
							<div class="post-main-img">
								<img src="img/img14.jpg" alt="img">
							</div>
							<hr>
							<h2 class="t-link">Games of chance: Learn about payout ratio and variance</h2>
							<p>Principles described in this article can be applied to almost any game of chance in which a player plays against the house. In other words, all games where a casino collects bets and pays out potential winnings. The most famous of such games are slot machines, roulette, blackjack and baccarat, but there are many others.</p>
							<p>Most of you probably know that these games are somehow set to give casinos a certain advantage in the long-run. Otherwise, the owners of the casino would be losing money on them. This advantage is also known as a house edge.</p>
							<p>The advantage of the casino is determined by the rules of each game and by the payout rules in the case of winning. If these rules are applied over many, many rounds (sometimes even hundreds of thousands of times), casino owners can be quite certain that the sum of bets collected will exceed the total amount of wins payed out. The statistics work in favor of the casino in the long-run.</p>
							<p>In spite of long-term statistics working against you, it's quite common to come to a casino, play, win, and leave with your winnings. The main reason is that your visit to a casino consists only of several tens or hundreds of game rounds. In this case, the statistics don't have enough time to converge (show up). The outcome of your casino visit is then more determined by chance (or by your luck, if you want). It's exactly this chance which helps lucky players win and beat the statistical advantage of the casino, although just in the short term.</p>
							<p>To increase the chances of "beating the statistics", it's very important to know two basic characteristics of each game – payout ratio and variance. That's exactly what we'll focus on in this article.</p>
							<blockquote>
								<p>Be aware that some websites swap these two definitions. Their definition of game RTP might give a false impression that players statistically lose only a small fraction of their money, equal to house edge of the game. The rest of the money should then be redistributed among winners (other players using the same strategy that managed to win).</p>
							</blockquote>
							<h3 class="t-link">Games of chance and payout ratio (RTP)</h3>
							<p>Payout ratio (also known as expected return, payout percentage or RTP – return to player) of a game of chance is the long-term statistical rate of total money won divided by the total money staked. The opposite of the payout ratio is the house edge. The house edge is calculated as 100% minus payout ratio. If the payout ratio is 95% then the house edge is 100% – 95% = 5%.</p>
							<p>Let's take a closer look at payout ratios of some of the most popular games of chance.</p>
							<h3>Payout ratio of roulette</h3>
							<p>In European Roulette, the probability of winning when betting on the black color is 18 (# of the black numbers) divided by 37 (# of all numbers, don't forget the zero). The payout is 2 times the bet.</p>
							<p>The payout ratio of roulette is then 2 * 18 / 37 = 0.973 = 97.3%. House edge is then 100% – 97.3% = 2.7%. The roulette game is set to have the same RTP for all kinds of bets (color, number, etc.).</p>
							<div class="video"><iframe width="733" height="436" src="https://www.youtube.com/embed/MLpWrANjFbI?si=ULkzHHl3GWklj3qU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
							<h3 class="t-link">Blackjack RTP</h3>
							<p>As blackjack rules may vary from casino to casino, it's obvious that RTP may differ as well. But generally, a game of blackjack played by a player utilizing the basic blackjack strategy gives an expected RTP of around 99.5%.</p>
							<p>In live and online blackjack the expected RTP changes as the dealer deals cards from the deck. The RTP in this case is usually between 95% and 102%, depending on which cards are left in the "shoe". This is exploited by card counters – players which estimate the actual RTP of the blackjack deck and try to bet high if the RTP is over 100%, to make a long-term profit. On the other hand, casinos also have means to detect such card-counters and prevent them from playing further.</p>
							<p>The RTP of slots is usually between 92% and 99%. Payout percentage of slot machines is determined by the symbols on the virtual reels, by payout table, and by other specific rules applied to each particular game. If you are curious which slots have the highest RTP, check this Wolfie's collection of best paying slots.</p>
							<p>To put it simply, the variance (also known as volatility) of a game determines how rapidly your bankroll is changing when you play the game:</p>
							<ul>
								<li>When playing a game with low variance, you win small winnings quite often. In this case, your bankroll changes quite evenly, although, unfortunately, usually downwards.</li>
								<li>In the case of a high-variance game, you lose in a vast majority of rounds, but when you win, you win high. Gradual drop-downs are, from time to time, replaced by a big gain.</li>
							</ul>
							<p>Variance of the game can also be described by the statistical distribution of winnings. As they are usually proportional to the bet size, we are talking about the distribution of winnings expressed as a multiple of the bet. When betting on a color in roulette, all winnings are paid out as double of the bet. When betting on a single number, all winnings are paid out as 36-times the bet.</p>
							<p>The variance of slots is a bit more complicated. You can hit many various winning combinations and win many different multiples of your bet. Due to this, it's not that simple to describe slot variance by one number, and game providers only use loose descriptions like "small", "medium", and "high" for their slot machines.</p>
							</div>
						</div>
						<div class="entry-grid__sidebar">
							<div class="entry-nav-w sticky-bar">
								<div class="h4">Table of Content</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		{% include 'src/template/footer.html' %}
	</div>
	{% include 'src/template/includes.html' %}
</body>
</html>
