---
title: Article page
---
{% import 'src/template/macrosAndVariable.html' as global %}
{% include 'src/template/head.html' %}

<body>
	<div class="wrapper offset-header">
		{% include 'src/template/header.html' %}

		<main class="main">
			<section class="pt-3 pb-5 py-md-6 bg-grad-blue text-white">
				<div class="container _w1170">
					<div class="breadcrumb mb-5 d-md-none">
						<div class="breadcrumb-trail"> <a href="https://basethemedevel.wpengine.com/" title="Base Theme" rel="home" class="trail-begin">Guide</a> <span class="sep">/</span> Crypto vs. Traditional Gambling: What’s the Difference?</div>
					</div>
					<h1>Crypto vs. Traditional Gambling: What’s the Difference?</h1>
				</div>
			</section>
			<section class="my-10 my-md-3 section-entry">
				<div class="container">
					<div class="entry-grid" id="entry-grid">
						<div class="entry-grid__content list-nested">
							<div class="entry">
							{% include 'src/template/article-meta.html' %}
							<div class="post-main-img">
								<img src="img/img14.jpg" alt="img">
							</div>
							<ol>
								<li>
									<h3 class="t-link"></h3>
									<p></p>
								</li>
								<li>
									<h3 class="t-link"></h3>
									<p></p>
								</li>
								<li>
									<h3 class="t-link"></h3>
									<p></p>
								</li>
								<li>
									<h3 class="t-link"></h3>
									<p></p>
								</li>
								<li>
									<h3 class="t-link"></h3>
									<p></p>
								</li>
								<li>
									<h3 class="t-link"></h3>
									<p></p>
								</li>
								<li>
									<h3 class="t-link"></h3>
									<p></p>
								</li>
								<li>
									<h3 class="t-link"></h3>
									<p></p>
								</li>
								<li class="bg-yellow-l">
									<h3 class="t-link"></h3>
									<p></p>
								</li>
							</ol>
							</div>
						</div>
						<div class="entry-grid__sidebar">
							<div class="entry-nav-w sticky-bar">
								<div class="h4">Table of Content</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		{% include 'src/template/footer.html' %}
	</div>
	{% include 'src/template/includes.html' %}
</body>
</html>
