---
title: Article page
---
{% import 'src/template/macrosAndVariable.html' as global %}
{% include 'src/template/head.html' %}

<body>
	<div class="wrapper offset-header">
		{% include 'src/template/header.html' %}

		<main class="main">
			<section class="pt-3 pb-5 py-md-6 bg-grad-blue text-white">
				<div class="container _w1170">
					<div class="breadcrumb mb-5 d-md-none">
						<div class="breadcrumb-trail"> <a href="https://basethemedevel.wpengine.com/" title="Base Theme" rel="home" class="trail-begin">Guide</a> <span class="sep">/</span> Crypto vs. Traditional Gambling: What’s the Difference?</div>
					</div>
					<h1>Crypto vs. Traditional Gambling: What’s the Difference?</h1>
				</div>
			</section>
			<section class="my-10 my-md-3 section-entry">
				<div class="container">
					<div class="entry-grid" id="entry-grid">
						<div class="entry-grid__content list-nested">
							<div class="entry">
							{% include 'src/template/article-meta.html' %}
							<div class="post-main-img">
								<img src="img/img15.jpg" alt="img">
							</div>
							<p>As the popularity of crypto gambling continues to grow, so does the importance of securing your digital assets. While the anonymity and ease of transactions make cryptocurrencies an attractive option for online gamblers, these features also make them a target for hackers and scammers. This guide will provide you with detailed strategies and best practices to ensure that your cryptocurrency remains secure while you enjoy gambling online.</p>
							<ol>
								<li>
									<h2 class="t-link">Understanding the Risks</h2>
									<p>Before diving into the methods of securing your cryptocurrency, it's crucial to understand the risks involved in crypto gambling. These risks can be broadly categorized into three main areas:</p>
									<ul>
										<li>Hacking and Cyberattacks: Crypto wallets and exchanges are prime targets for hackers due to the irreversible nature of cryptocurrency transactions.</li>
										<li>Scams and Fraudulent Sites: The rise of crypto gambling has also seen an increase in fraudulent websites that aim to steal your funds through phishing and other scams. </li>
										<li>Human Error: Mismanagement of private keys, falling for phishing attempts, or sending funds to the wrong address can lead to permanent loss of your assets.</li>
									</ul>
								</li>
								<li>
									<h2 class="t-link">Wallet Security: The First Line of Defense</h2>
									<p><strong>Your wallet is the most critical component in securing your cryptocurrency. Here&#39;s how you can ensure its safety:</strong></p>
									<h4>A. Choose the Right Wallet</h4>
									<h4>There are several types of crypto wallets, each offering different levels of security:</h4>
									<ul>
										<li>Hardware Wallets: Devices like Ledger and Trezor are considered the safest option for storing cryptocurrency. They keep your private keys offline, away from potential hackers.</li>
										<li>Software Wallets: Wallets like MetaMask and Exodus are more convenient for frequent transactions but come with higher risks since they are connected to the internet.</li>
										<li>Paper Wallets: These are simply a physical printout of your private and public keys. While highly secure if stored correctly, they can be inconvenient and vulnerable to physical damage.</li>
									</ul>
									<p>For crypto gambling, a combination of hardware and software wallets can be ideal. Store the bulk of your assets in a hardware wallet and keep only the amount you intend to gamble with in a software wallet.</p>
									<h4>B. Keep Your Private Keys Private</h4>
									<p>Your private key is the key to your cryptocurrency. Never share it with anyone, and avoid storing it digitally in places like cloud storage or your computer’s hard drive. For maximum security, write it down and store it in a secure location, such as a safe or a secure vault.</p>
									<h4>C. Enable Multi-Signature Wallets</h4>
									<p>Multi-signature (multi-sig) wallets require multiple private keys to authorize a transaction. This means even if one of your private keys is compromised, your funds remain secure. For instance, you can set up a 2-of-3 multi-sig wallet, where two out of three keys are required to complete a transaction. This adds an extra layer of security, especially if you are managing large amounts of cryptocurrency.</p>

									<div class="a-wallets bg-black-p">
										<div class="a-wallets-item _is-purple">
											<div class="a-wallets-item-title">
												<img src="img/entry/a-img-wallet-purple.png" alt="image description" />
												<h4>Hardware Wallets</h4>
											</div>
											<div class="a-wallets-item-card">
												<div class="a-wallets-item-card__image">
													<img src="img/entry/a-img-wallet-img-01.png" alt="image description" />
												</div>
												<h5>Examples</h5>
												<p>Ledger Nano S, Ledger Nano X, Trezor Model T.</p>
												<h5>Security Level</h5>
												<p>High.</p>
												<h5>Convenience Level</h5>
												<p>Low.</p>
												<h5>Description</h5>
												<p>Hardware wallets are physical devices that store private keys offline, making them immune to online hacking attempts. They require physical access to the device to authorize transactions.</p>
												<h5>Arrow Label</h5>
												<p>Lower Security, High Convenience</p>
											</div>
										</div>

										<div class="a-wallets-item _is-orange">
											<div class="a-wallets-item-title">
												<img src="img/entry/a-img-wallet-orange.png" alt="image description" />
												<h4>Hardware Wallets</h4>
											</div>
											<div class="a-wallets-item-card">
												<div class="a-wallets-item-card__image">
													<img src="img/entry/a-img-wallet-img-02.png" alt="image description" />
												</div>
												<h5>Examples</h5>
												<p>MetaMask, Exodus, Trust Wallet.</p>
												<h5>Security Level</h5>
												<p>Medium to Low.</p>
												<h5>Convenience Level</h5>
												<p>High.</p>
												<h5>Description</h5>
												<p>Software wallets are applications or browser extensions that store private keys online, making them more vulnerable to hacking. They are easy to use and accessible from any device with internet access.</p>
												<h5>Arrow Label</h5>
												<p>Lower Security, High Convenience</p>
											</div>
										</div>

										<div class="a-wallets-item _is-green">
											<div class="a-wallets-item-title">
												<img src="img/entry/a-img-wallet-green.png" alt="image description" />
												<h4>Hardware Wallets</h4>
											</div>
											<div class="a-wallets-item-card">
												<div class="a-wallets-item-card__image">
													<img src="img/entry/a-img-wallet-img-03.png" alt="image description" />
												</div>
												<h5>Examples</h5>
												<p>A printed document with private and public keys (no specific brands).</p>
												<h5>Security Level</h5>
												<p>High (if stored properly).</p>
												<h5>Convenience Level</h5>
												<p>Very Low.</p>
												<h5>Description</h5>
												<p>Paper wallets involve printing out your public and private keys on a piece of paper, which is then stored offline. They are immune to online attacks but can be easily lost, stolen, or damaged.</p>
												<h5>Arrow Label</h5>
												<p>High Security, Very Low Convenience</p>
											</div>
										</div>
									</div>

								</li>
								<li>
									<h2 class="t-link">Two-Factor Authentication (2FA): A Must-Have Security Measure</h2>
									<p>Two-Factor Authentication (2FA) adds an extra layer of security to your accounts by requiring a second form of verification in addition to your password. This is especially important when accessing your crypto gambling accounts or wallets.</p>
									<h4>A. Types of 2FA</h4>
									<h4>There are several types of crypto wallets, each offering different levels of security:</h4>
									<ul>
										<li>SMS-Based 2FA: While convenient, this method is vulnerable to SIM swapping attacks where hackers gain control of your phone number. It&#39;s advisable to avoid SMS-based 2FA for your crypto accounts.</li>
										<li>Authenticator Apps: Apps like Google Authenticator or Authy generate time-based one- time passwords (TOTP) on your phone. These are more secure than SMS-based 2FA as they are not tied to your phone number.</li>
										<li>Hardware 2FA: Devices like YubiKey provide the highest level of security by requiring a physical key to complete the authentication process. This is recommended for securing wallets or accounts with significant amounts of cryptocurrency.</li>
									</ul>
									<h4>B. Implementing 2FA on Crypto Gambling Sites</h4>
									<p>When using crypto gambling sites, always enable 2FA if the option is available. Most reputable sites will offer this feature to enhance the security of your account. If a site does not offer 2FA, it’s a red flag, and you may want to consider using a different platform.</p>

									<div class="a-levels bg-black-p">
										<div class="a-levels-wrap">
											<div class="a-levels-img">
												<img src="img/entry/a-img-levels.svg" alt="image description" />
											</div>
											<div class="a-levels-items">
												<div class="a-levels-item _is-white">
													<svg class="a-levels-item__line" xmlns="http://www.w3.org/2000/svg" width="86" height="322" viewBox="0 0 86 322" fill="none" preserveAspectRatio="none">
														<path d="M2 320.5H23.5C40.0685 320.5 53.5 307.069 53.5 290.5V32C53.5 15.4315 66.9315 2 83.5 2H84.5" stroke="var(--theme-color)" stroke-width="3" stroke-linecap="round"/>
													</svg>
													<div class="a-levels-item__icon">
														<img src="img/entry/a-icon-blockchain-02.svg" alt="image description" />
													</div>
													<strong class="h5">Central Core</strong>
													<h4>Cryptocurrency</h4>
													<p>This central core symbolizes the crypto <br>assets being protected by the <br>layers of 2FA security.</p>
												</div>
												<div class="a-levels-item _is-red">
													<svg class="a-levels-item__line" xmlns="http://www.w3.org/2000/svg" width="86" height="218" viewBox="0 0 86 218" fill="none" preserveAspectRatio="none">
														<path d="M2 216H23.1879C39.7564 216 53.1879 202.569 53.1879 186V32C53.1879 15.4315 66.6193 2 83.1879 2H84" stroke="var(--theme-color)" stroke-width="3" stroke-linecap="round"/>
													</svg>
													<div class="a-levels-item__icon">
														<img src="img/entry/a-icon-sms-otp.svg" alt="image description" />
													</div>
													<strong class="h5">outer layer</strong>
													<h4>SMS-Based 2FA</h4>
													<span class="a-levels-item__label">Security Level Lowest</span>
													<p>SMS-Based 2FA sends a one-time code to your mobile phone via text message. While convenient, it is vulnerable to SIM swapping attacks, where a hacker gains control of your phone number.</p>
												</div>
												<div class="a-levels-item _is-yellow">
													<svg class="a-levels-item__line" xmlns="http://www.w3.org/2000/svg" width="86" height="31" viewBox="0 0 86 31" fill="none" preserveAspectRatio="none">
														<path d="M2 29H39.6879C47.1437 29 53.1879 22.9558 53.1879 15.5V15.5C53.1879 8.04416 59.232 2 66.6879 2H84" stroke="var(--theme-color)" stroke-width="3" stroke-linecap="round"/>
													</svg>
													<div class="a-levels-item__icon">
														<img src="img/entry/a-icon-sms-otp-02.svg" alt="image description" />
													</div>
													<strong class="h5">Middle Layer</strong>
													<h4>Authenticator Apps</h4>
													<span class="a-levels-item__label">Security Level Medium</span>
													<p>Authenticator apps like Google Authenticator or Authy generate time-based one-time passwords (TOTP) that are tied to your device. These are more secure than SMS-based methods because they are not connected to your phone number.</p>
												</div>
												<div class="a-levels-item _is-green">
													<svg class="a-levels-item__line" xmlns="http://www.w3.org/2000/svg" width="86" height="163" viewBox="0 0 86 163" fill="none" preserveAspectRatio="none">
														<path d="M2 2H23.1879C39.7564 2 53.1879 15.4315 53.1879 32V131C53.1879 147.569 66.6193 161 83.1879 161H84" stroke="var(--theme-color)" stroke-width="3" stroke-linecap="round"/>
													</svg>
													<div class="a-levels-item__icon">
														<img src="img/entry/a-icon-hard-tokens.svg" alt="image description" />
													</div>
													<strong class="h5">Innermost Layer</strong>
													<h4>Hardware 2FA</h4>
													<span class="a-levels-item__label">Security Level Highest</span>
													<p>Hardware 2FA devices like YubiKey provide the highest level of security. They require physical possession of the device to generate the authentication code, making it nearly impossible for remote attackers to breach.</p>
												</div>
											</div>
										</div>
									</div>

								</li>
								<li>
									<h3 class="t-link">Avoiding Scams and Fraudulent Sites</h3>
									<p>The decentralized and often unregulated nature of crypto gambling makes it a hotbed for scams. However, with a few precautions, you can significantly reduce your risk of falling victim to fraud.</p>
									<h4>A. Choose the Right Wallet</h4>
									<h4>There are several types of crypto wallets, each offering different levels of security:</h4>
									<ul>
										<li>Licensing and Regulation: Ensure the site is licensed and regulated by a reputable authority. While crypto gambling often operates in a gray area, some jurisdictions offer licenses to trustworthy operators.</li>
										<li>User Reviews and Reputation: Research the site&#39;s reputation within the gambling community. Sites like Coinbets offer user reviews and professional insights that can help you identify trustworthy platforms.</li>
										<li>Security Features: A secure site will offer features such as SSL encryption, 2FA, and a clear privacy policy. Avoid sites that lack these basic security measures.</li>
									</ul>
									<p>For crypto gambling, a combination of hardware and software wallets can be ideal. Store the bulk of your assets in a hardware wallet and keep only the amount you intend to gamble with in a software wallet.</p>
									<h4>B. Beware of Phishing Scams</h4>
									<p>Phishing scams are a common way for hackers to steal your cryptocurrency. These scams often involve fake websites or emails that mimic legitimate services to trick you into entering your private keys or passwords.</p>
									<ul>
										<li>Double-Check URLs: Always double-check the URL of the site you are visiting. Scammers often create websites with URLs that are very similar to legitimate ones Avoid Clicking on Unverified Links: Never click on links in unsolicited emails or messages.</li>
										<li>Always navigate directly to the site by typing the URL into your browser.</li>
										<li>Use Anti-Phishing Tools: Many browsers and security software offer anti-phishing tools that can help detect and block fraudulent sites.</li>
									</ul>
									<h4>C. Scam ICOs and Token Projects</h4>
									<p>While not directly related to gambling, many users who are active in the crypto space may encounter fraudulent Initial Coin Offerings (ICOs) or token projects. Be wary of any projects that promise guaranteed returns or seem too good to be true. Always do thorough research and seek out third-party reviews before investing in any new token or project.</p>

									<div class="a-features-info bg-black-p">
										<div class="a-features-info__heading">
											<strong class="a-subtitle">Spotting Phishing Scams</strong>
											<h3>Key Warning Signs to Protect Your Crypto</h3>
										</div>

										<div class="a-features-info-item">
											<div class="a-features-info-item__title">
												<span class="a-features-info-item__icon">
													<img src="img/entry/a-icon-data-protection.svg" alt="image description" />
												</span>
												<h4>Suspicious URLs</h4>
											</div>
											<div class="a-features-info-item-content">
												<div class="a-features-info-item__link">
													<h5>Legitimate URL</h5>
													<a href="#0">
														<span class="a-features-info-item__icon">
															<img src="img/entry/a-icon-lock-green.svg" alt="image description" />
														</span>
														https://www.trustedsite.com
													</a>
												</div>
												<div class="a-features-info-item__link">
													<h5>Phishing URL</h5>
													<a class="text-gold" href="#0">
														<span class="a-features-info-item__icon">
															<img src="img/entry/a-icon-flag-red.svg" alt="image description" />
														</span>
														https://www.trustedsite.com
													</a>
													<span>(note the subtle change from "i" to "1")</span>
												</div>
												<div class="a-features-info-item__description">
													<h6>Description</h6>
													<p>Highlight how phishing sites often use URLs that closely resemble legitimate ones, with small, hard-to-notice differences such as altered characters or additional words.</p>
												</div>
											</div>
										</div>
										<div class="a-features-info-item">
											<div class="a-features-info-item__title">
												<span class="a-features-info-item__icon">
													<img src="img/entry/a-icon-domain-registration.svg" alt="image description" />
												</span>
												<h4>Unverified Links</h4>
											</div>
											<div class="a-features-info-item-content">
												<div class="a-features-info-item__link">
													<h5>Legitimate Link</h5>
													<a href="#0">
														<span class="a-features-info-item__icon">
															<img src="img/entry/a-icon-lock-green.svg" alt="image description" />
														</span>
														https://www.knownsite.com
													</a>
													<span>An email from a known contact or company with a clear, recognizable URL </span>
												</div>
												<div class="a-features-info-item__link">
													<h5>Phishing URL</h5>
													<a class="text-gold" href="#0">
														<span class="a-features-info-item__icon">
															<img src="img/entry/a-icon-flag-red.svg" alt="image description" />
														</span>
														https: //bit.ly/2xyzABC
													</a>
													<span>A shortened or obfuscated link that does not match the sender's domain</span>
												</div>
												<div class="a-features-info-item__description">
													<h6>Description</h6>
													<p>Explain how phishing attempts often use shortened or masked URLs to trick users into clicking on malicious links.</p>
												</div>
											</div>
										</div>
										<div class="a-features-info-item">
											<div class="a-features-info-item__title">
												<span class="a-features-info-item__icon">
													<img src="img/entry/a-icon-warning-mail.svg" alt="image description" />
												</span>
												<h4>Fake Emails</h4>
											</div>
											<div class="a-features-info-item-content">
												<div class="a-features-info-item__link">
													<h5>Legitimate Link</h5>
													<a href="#0">
														<span class="a-features-info-item__icon">
															<img src="img/entry/a-icon-lock-green.svg" alt="image description" />
														</span>
														support@trustedsite.com
													</a>
													<span>A professional email with proper branding, language, and sender address</span>
												</div>
												<div class="a-features-info-item__link">
													<h5>Phishing URL</h5>
													<a class="text-gold" href="#0">
														<span class="a-features-info-item__icon">
															<img src="img/entry/a-icon-flag-red.svg" alt="image description" />
														</span>
														support@trvsteds1te.com
													</a>
													<span>An email with grammatical errors, generic greetings (e.g., "Dear Customer"), and a suspicious sender address</span>
												</div>
												<div class="a-features-info-item__description">
													<h6>Description</h6>
													<p>Highlight how phishing emails often contain subtle mistakes like misspellings, improper branding, and generic greetings. Also, they might come from email addresses that closely mimic legitimate ones but with slight alterations.</p>
												</div>
											</div>
										</div>
										<div class="a-features-info-item">
											<div class="a-features-info-item__title">
												<span class="a-features-info-item__icon">
													<img src="img/entry/a-icon-backlink-building.svg" alt="image description" />
												</span>
												<h4>Urgent Calls to Action</h4>
											</div>
											<div class="a-features-info-item-content">
												<div class="a-features-info-item__link">
													<h5>Legitimate Link</h5>
													<a href="#0">
														<span class="a-features-info-item__icon">
															<img src="img/entry/a-icon-lock-green.svg" alt="image description" />
														</span>
														Please verify your account within 7 days.
													</a>
													<span>A normal request with reasonable time frames</span>
												</div>
												<div class="a-features-info-item__link">
													<h5>Phishing URL</h5>
													<a class="text-gold" href="#0">
														<span class="a-features-info-item__icon">
															<img src="img/entry/a-icon-flag-red.svg" alt="image description" />
														</span>
														Verify your account NOW or your funds will be lost!
													</a>
													<span>An urgent, threatening request </span>
												</div>
												<div class="a-features-info-item__description">
													<h6>Description</h6>
													<p>Highlight how phishing emails often contain subtle mistakes like misspellings, improper branding, and generic greetings. Also, they might come from email addresses that closely mimic legitimate ones but with slight alterations.</p>
												</div>
											</div>
										</div>
									</div>

								</li>
								<li>
									<h3 class="t-link">Data and Statistics: The Growing Need for Security in Crypto Gambling</h3>
									<p>The rise of crypto gambling has been accompanied by an increase in related cybercrimes. According to a report by CipherTrace, crypto-related crime surged in 2023, with over $3.5 billion lost to hacks and scams, a significant portion of which targeted online gambling platforms.</p>
									<p>In a survey conducted by Chainalysis, 41% of crypto users cited security as their primary concern when engaging in online gambling. This underscores the importance of adopting robust security measures to protect your assets.</p>
								</li>
								<li>
									<h3 class="t-link">Best Practices for Securing Your Cryptocurrency</h3>
									<h4>Here’s a consolidated list of best practices to ensure your cryptocurrency remains safe while gambling online:</h4>
									<ul>
										<li><strong>Diversify Your Holdings:</strong> Spread your cryptocurrency across multiple wallets. This reduces the risk of losing everything in case one wallet is compromised. </li>
										<li><strong>Regularly Update Your Security Measures:</strong> Cybersecurity is an ever-evolving field. Regularly update your software wallets, authenticator apps, and security tools to ensure they have the latest security patches. </li>
										<li><strong>Limit the Amount at Risk</strong>: Only keep a small portion of your cryptocurrency in your gambling wallet. This minimizes your potential losses in case of a security breach. </li>
										<li><strong>Backup Your Wallets:</strong> Regularly back up your wallets and store these backups in secure, offline locations. This ensures you can recover your funds in case your primary wallet is lost or damaged. </li>
										<li><strong>Stay Informed:</strong> Keep up with the latest news and developments in both the cryptocurrency and online gambling industries. Being aware of new threats and scams can help you take preemptive action to protect your assets.</li>
									</ul>
								</li>
								<li>
									<h3 class="t-link">Case Study: A Real-Life Example of Security Breach in Crypto Gambling</h3>
									<p>To highlight the importance of these security measures, let's look at a real-life example: </p>
									<p>In 2022, a popular crypto gambling site fell victim to a sophisticated phishing attack. Hackers created a fake version of the site and managed to trick users into entering their login credentials. Over 1,000 users lost their cryptocurrency as the hackers drained their accounts. This incident underscores the need for vigilance, the use of 2FA, and the importance of only visiting trusted sites.</p>

									<div class="a-security-info bg-black-p">
										<div class="a-security-info__heading">
											<strong class="a-subtitle">Spotting Phishing Scams</strong>
											<h3>Key Warning Signs to Protect Your Crypto</h3>
										</div>

										<div class="a-security-info-steps">
											<div class="a-security-info-steps-item">
												<div class="a-security-info-steps-item__text">
													<strong class="h5">STEP 1</strong>
													<h4>Creation of a Fake Site</h4>
												</div>
												<div class="a-security-info-steps-cards">
													<div class="a-security-info-steps-cards__item">
														<img src="img/entry/a-img-security-card-01.svg" alt="image description" />
													</div>
													<div class="a-security-info-steps-cards__item">
														<img src="img/entry/a-img-security-card-02.svg" alt="image description" />
													</div>
												</div>
											</div>
											<div class="a-security-info-steps-item">
												<div class="a-security-info-steps-item__text">
													<strong class="h5">STEP 2</strong>
													<h4>User Enters Credentials</h4>
													<p>The unsuspecting user enters their credentials, believing they are logging into a legitimate site.</p>
												</div>
												<div class="a-security-info-steps-image">
													<img src="img/entry/a-img-security-01.svg" alt="image description" />
												</div>
											</div>
											<div class="a-security-info-steps-item">
												<div class="a-security-info-steps-item__text">
													<strong class="h5">STEP 3</strong>
													<h4>Hackers Steal Funds</h4>
													<p>Hackers gain access to the user's account and steal their funds, transferring them to their own wallet.</p>
												</div>
												<div class="a-security-info-steps-image">
													<img src="img/entry/a-img-security-02.svg" alt="image description" />
												</div>
											</div>
										</div>
									</div>

								</li>
								<li class="bg-yellow-l">
									<h3 class="t-link">Conclusion </h3>
									<p>Securing your cryptocurrency while gambling online is not just about following a checklist-it's about adopting a mindset of vigilance and caution. As the crypto space continues to evolve, so too will the threats. By implementing the strategies and best practices outlined in this guide, you can significantly reduce your risk and enjoy the benefits of crypto gambling with peace of mind. Remember, in the world of cryptocurrency, you are your own bank. The responsibility for securing your assets lies entirely with you. Stay informed, stay secure, and gamble responsibly.</p>
								</li>
							</ol>
							</div>
						</div>
						<div class="entry-grid__sidebar">
							<div class="entry-nav-w">
								<div class="h4">Table of Content</div>
							</div>
							<div class="entry-pop-w">
								<h3 class="h4">🔥 Popular Articles</h3>
								<div class="entry-pop-list">
									{% for i in range(0, 3) %}
									<div class="g-expert">
										<div class="g-expert-img">
											<img src="img/img1.jpg" alt="img">
										</div>
										<ul class="g-expert-tags">
											<li>Guides</li>
										</ul>
										<h3 class="h6-700"><a href="#">Online casino withdrawals</a></h3>
										<div class="g-expert-meta">
											<div class="g-expert-date">July 18, 2024</div>
											<div class="g-expert-views">200 Views</div>
											<div class="g-expert-read">2 mins read</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		{% include 'src/template/footer.html' %}
	</div>
	{% include 'src/template/includes.html' %}
</body>
</html>
