---
title: About page
---
{% import 'src/template/macrosAndVariable.html' as global %}
{% include 'src/template/head.html' %}

<body>
	<div class="wrapper offset-header">
		{% include 'src/template/header-dark.html' %}

		<main class="main">
			<section class="pt-3 py-md-6 bg-grad-d-b-top bg-dark-b-part text-white">
				<div class="container _w1170">
					<div class="breadcrumb mb-5 d-md-none">
						<div class="breadcrumb-trail"> <a href="https://basethemedevel.wpengine.com/" title="Base Theme" rel="home" class="trail-begin">Legal</a> <span class="sep">/</span>About</div>
					</div>
					<div class="w-750 mt-9 mt-md-0">
						<h3 class="h5">About us</h3>
						<h1 class="h1">Welome to CoinBets</h>
						<h2 class="h4">Welcome to Coinbets, the definitive resource for unbiased reviews and expert insights into the world of crypto-only casinos and sports betting. </h2>
					</div>
				</div>
				<div class="container _w850">
					<div class="cta-list p-arial mt-10 mt-md-2">
					<div class="cta-w">
						<div class="cta-txt">
							<h3 class="h4">Enthusiasts and crypto advocates</h3>
							<p>Our platform was founded by a group of seasoned gambling enthusiasts and crypto advocates who were tired of the biased information pervasive in the industry, often skewed by financial incentives. Driven by a desire to create a transparent, community-focused environment. We are committed to providing both newcomers and veteran gamblers with the knowledge and tools they need to navigate the rapidly evolving landscape of cryptocurrency gambling safely and confidently.</p>
						</div>
						<div class="cta-img">
							<img src="img/img10.jpg" alt="img">
						</div>
					</div>
					<div class="cta-w">
						<div class="cta-txt">
							<h3 class="h4">Our Mission</h3>
							<p>Our mission at Coinbets is to provide the most reliable, comprehensive, and up-to-date information about crypto casinos and sports betting platforms. We are dedicated to helping our users make informed decisions by providing expert reviews, user-generated feedback, and essential resources tailored to the unique needs of crypto gamblers. Whether you're placing your first crypto bet or looking to expand your strategies, Coinbets is here to ensure a safe and enjoyable betting experience.</p>
						</div>
						<div class="cta-img">
							<img src="img/img11.jpg" alt="img">
						</div>
					</div>
					<div class="cta-w">
						<div class="cta-txt">
							<h3 class="h4">Point of Difference</h3>
							<p>What sets Coinbets apart from other review sites is our steadfast commitment to unbiased, honest reporting. Unlike most platforms, we do not accept financial incentives from the casinos or betting sites we review. </p>
							<p>This independence allows us to provide genuine evaluations based solely on the quality of service, security, and user experiences. We believe in transparency and trust, and we strive to uphold these values in every aspect of our service.</p>
						</div>
						<div class="cta-img">
							<img src="img/img12.jpg" alt="img">
						</div>
					</div>
					</div>
				</div>
			</section>
			<section class="py-8 bg-dark txt-c text-white p-arial">
				<div class="container _w750 g-md-25">
					<h2>What We Do</h2>
					<p>At Coinbets, we meticulously review and rate a wide range of crypto-only casinos and sports betting sites based on rigorous criteria. Our team conducts thorough research and analysis to ensure that each platform adheres to the highest standards of security, fairness, and user satisfaction. In our commitment to transparency and community-driven insights, we have also developed a comprehensive, up-to-date database of crypto gambling platforms.</p>
					<p>Here, users can contribute and access verified reviews, enhancing our collective knowledge with real user experiences.</p>
					<h3 class="h4">In addition to our reviews and user-generated content, we offer</h3>
				</div>
				<div class="container g-md-25">
					<div class="g-edu mt-5">
						<div class="g-edu-i">
							<div class="g-edu-ico">
								<img src="img/sico27.svg" alt="img">
							</div>
							<h3 class="h4">Educational Content</h3>
							<p>Dive into the basics of crypto gambling through our detailed guides and articles, designed to educate both beginners and seasoned bettors.</p>
						</div>
						<div class="g-edu-i">
							<div class="g-edu-ico">
								<img src="img/sico28.svg" alt="img">
							</div>
							<h3 class="h4">Betting Strategies</h3>
							<p>Gain insights into advanced betting techniques and strategies to maximize your winnings and enhance your betting efficiency.</p>
						</div>
						<div class="g-edu-i">
							<div class="g-edu-ico">
								<img src="img/sico29.svg" alt="img">
							</div>
							<h3 class="h4">Industry Updates</h3>
							<p>Stay on top of the latest trends and developments in the crypto betting world with our regularly updated news and analysis.</p>
						</div>
						<div class="g-edu-i">
							<div class="g-edu-ico">
								<img src="img/sico30.svg" alt="img">
							</div>
							<h3 class="h4">Community Forum</h3>
							<p>Join our vibrant community forum where users can share tips, experiences, and advice, fostering a safe and supportive environment for all members to learn and grow.</p>
						</div>
					</div>
				</div>
			</section>
			<section class="pt-6 pb-12 pb-md-5 bg-dark">
				<div class="container _w850 g-md-25">
					<div class="cta-list p-arial">
					<div class="cta-w _as-str">
						<div class="cta-txt">
							<h3 class="h4">We’re Here to Help!</h3>
							<p>At Coinbets, your feedback is essential in improving your gambling experience. Whether you're seeking advice, offering a suggestion, or need assistance, we're ready to help.</p>
							<a href="#" class="button _btn-gray _btn-w100">Get in Touch</a>
						</div>
						<div class="cta-img">
							<img src="img/img13.jpg" alt="img">
						</div>
					</div>
					</div>
				</div>
			</section>
		</main>

		{% include 'src/template/footer.html' %}
	</div>
	{% include 'src/template/includes.html' %}
</body>
</html>
