---
title: Dev page
---
{% import 'src/template/macrosAndVariable.html' as global %}
{% include 'src/template/head.html' %}

<body>
	<div class="wrapper offset-header">
		{% include 'src/template/header.html' %}

		<main class="main">
			<section class="py-8 bg-blue">
				<div class="container">
					<h1>Example svg images</h1>
					<div class="d-grid g-img-e _col-4">
						{% for i in range(1, 100) %}
						<div>
							<div class="h3">sico{{i}}</div>
							<img src="img/sico{{i}}.svg" alt="svg">
						</div>
						{% endfor %}
					</div>
				</div>
			</section>
		</main>

		{% include 'src/template/footer.html' %}
	</div>
	{% include 'src/template/includes.html' %}
</body>
</html>
